.background {
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  height: 100vh;
}


//絕對定位設定
@mixin abpos($l:initial,$t:initial) {
  position: absolute;
  left: $l;
  top: $t;
}

@mixin size($w,$h:$w,$bdrs:0) {
  width: $w;
  height: $h;
  border-radius: $bdrs;
}

  
//星星從原本位置偏移落下的動畫，從右上到左下
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100px,0px);
  }
  100% {
    transform: translate(0px,200px);
  }
}

//以star開頭的為星星
[class^='stars'] {
  @include size(3px,3px,50%);
  background-color: #fff;
  animation: falling 2s infinite  //動畫２秒並無線播放
}
  
//產生30顆星星不同的偏移位置跟動畫delay
@for $i from 0 through 100 {
  .stars#{$i} {
    $posX: random(100)*1%;
    $posY: random(80)*1% ;
    @include abpos($posX,$posY);
    animation-delay: $i*-0.1s;
  }
}